.row{
    background-color: black;
    padding: 30px;
}
h1{
    color:  whitesmoke;
    font-size: 75px;
	text-align: center;
}
.card-header{
    color:whitesmoke;
}
.card-text{
    color: rgba(255, 237, 204, 0.8);
}
h5{
    color: rgb(83, 82, 82);
    font-size: 15px;
	text-align: center;
}
  